html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html, body {
  max-height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.page-container {
  background-color: #bff5a5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.centered-text {
  max-width: 870px;
  margin: 50px auto;
  padding: 20px;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 90px rgba(210, 110, 250, 0.342);
}

p {
  text-align: justify;
  line-height: 1.6;
  align-items: center;
}

.codeBlock {
  background-color: #14e03371;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  margin-top: 20px;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #000000;
}

.step-buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}

.step-button {
  padding: 20px 63px;
  font-size: 18px;
  background-color: #469e5c;
  color: white;
  border: none;
  border-radius: 107px;
  margin: 54px;
  margin-top: 0px;
}

.step-button:hover {
  background-color: #19d44e;
}

.arrow1_img {
  width: 63px;
  height: 65px;
  right: 1px;
}
