
.table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 350px;
    margin-left: 480px;
    margin-top: 100px;
    
  }
  
  th, td {
    border: 2px solid #d398f5b9;
    padding: 15px;
    text-align: center;
    margin-left: 100px;
  }
  
  th {
    background-color: #f0b3ff6c;
  }
  
 
.title {
    font-size: 48px;
    text-align: center;
    background-image: linear-gradient(90deg, #9ea5e6e7, #ae7de6d3, #f7f1f8d3, #a49ff7d3, #3925bbd2, #bbecf8d3);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 100px;
    animation: gradient 1s linear infinite;
    font-family: 'Roboto', sans-serif;
}
