.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}






html{
  box-sizing: border-box;
}

*, *::after, *::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html, body {
  max-height: 100%;
}
ul{
  list-style-type:  none; 
}
   a{
  text-decoration: none;
  color: black;
 }

  body{
    font-family: "Roboto" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-weight: 1000px;
    background-color: #c6d2f5; 


   
  }
  .background{
    background: linear-gradient(#F0F4FF,rgba(240, 244, 255, 0.322));
   
      }

.width-wrapper{
  max-width: 1440px;
  margin: 0 auto;
  /* background: linear-gradient(#F0F4FF) 85%,rgb(240, 244, 255); */
}
  .header__inner {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header{
  background: rgba(176,139,236,0.36);
 
}




.menu__list-link {
  /* Ваши стили для ссылки в меню */
  /* Например: */
  color: #000; /* цвет текста */
  text-decoration: none; /* убрать подчеркивание */
}

.submenu {
  /* Стили для всплывающего меню */
  display: none; /* изначально скрыто */
  position: absolute;
  background-color: #e4abe42d; /* Цвет фона */
  padding: 50px; /* Внутренний отступ */
  width: 400px; /* Ширина прямоугольника */
  height: auto; /* Автоматическая высота в зависимости от содержимого */
  border-radius: 5px; /* Скругление углов */
  border: 1px solid #cccccc00; /* Граница */
  font-size: 20px; /* Размер шрифта */
  color: #333; /* Цвет текста */
  line-height: 1.8; /* Межстрочный интервал */
  text-align: left; /* Выравнивание текста по левому краю */
  left: 450px;
}





.menu__list-item:hover .submenu {
  display: block; /* показывать всплывающее меню при наведении на пункт меню */
}





  .menu__list{
    display: flex;
    gap: 300px; 
    padding-right: 50px;

  }
  .menu__list-link {
    color: #000;

  }
  .logo__img {
    width: 250px; 
}

.header__inner{
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 15px;
}
.user__img{
  width: 50px;
}

.container0 {
  max-width: 1920px;
  padding: 0 15px;
}
.container { 
  max-width: 1440px;
  margin: 0 auto;
}

.container1 {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}
.container2 {

  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  flex-direction: row;
  max-width: 1440px;
  margin: 0 auto;
}

.container3 {
max-width: 1440px;
  margin: 0 auto;
  
}
.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.container5 {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

/* .container7 {
  max-width: 1440px;
  margin: 0 auto;
} */
.top{
  color: #000;
  margin-top: 150px;
  margin-bottom: 150px;
}
.zaeb{
    width: 100%;
    justify-content: space-between;
    
}
.section_1_item-3{
  display: flex;
  align-items: end; 
  justify-content: end;
  margin-top: 25px;
}
.section_1_item-3_link {
  /* background-color: rgba(176, 139, 236, 0.36); */
 
    border-radius: 50px;

    font-size: 16px;
    transition: background-color 0.3s;
    padding: 10px;
    margin-right: 87px;
    max-width: 200px;
    background-color: rgba(176, 139, 236, 0.36);
      transition: background-color 0.3s;
    font-weight: 500;
}

.section_1_item-3_link:hover {
  background-color: rgba(137, 70, 247, 0.6); 
}
.foto1{
  width: 120px;
  height: 120px;
}
.section_1_item-1 {
  background-color: #ff4f5b88;
  display: flex;
  border-radius: 50px;
  padding: 30px;
  max-width: 800px;
  margin-left: 100px;
}

.section_1_text-1{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.languages_img{
  width: 100px;
  position: relative;
  margin-left: 26px;
}
.section_1_item-2-wrapper{
  display: flex;
  /* align-items: end; */
  margin-top: 50px;
  align-items: center;

}
.section_1_item-2 {
    background-color: rgba(243, 225, 225, 0.35);
    display: flex;   
    padding: 50px;
    max-width: 700px;
    align-items: end;
    margin-left: 100px;

}

.section_1_text-2 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
 
}
  .section_1_image img {
    max-width: 200px; 
    display: inline-block;
    font-size: 34px;
    padding-bottom: 20px;
    border-radius: 193px;
    margin-left: 40px; 
    margin-top: 20px;
}
.top__wrapper{
  display: flex;
  justify-content: space-between;
  gap: 70px;

}
.top__img {
  /* max-width: 600px; */
  max-width: 31.25vw;
  /* height: 450px; */
  align-self: center;
  top: 100px;
}

.top__img-wrapper{
  align-self: center;
}
.section_2_item_1{
    text-align: center;
    font-size: 48px;
    margin-top: 25px;
    font-weight: 500;
  
}
.help{
  display: flex;
  justify-content: center;
  margin-top: 175px;
}



.box1 {
  background-color: #4bbd62b0;
    margin-left: 7px;
    margin-right: 10px;
    display: flex;
    /* margin-top: 104px; */
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.box1 .text {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.box2 {
   background-color: #f1ef78ad;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    /* margin-top: 104px; */
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.box2 .text {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.box3 {
  background-color: #2d6de488;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    /* margin-top: 104px; */
    width: 350px;
    height: 350px;
    align-items: center;
    justify-content: center;
}

.box3 .text {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.box1:hover {
  background-color: #53ce68df;
  transform: scale(1.1);
}

.box2:hover {
  background-color: #f5e553f2;
  transform: scale(1.1);
}

.box3:hover {
  background-color: #568cef;
  transform: scale(1.1);
}
.box1, .box2, .box3 {
  transition: transform 1.1s, background-color 0.6s;
}

.box1:hover .text,
.box2:hover .text,
.box3:hover .text {
  font-weight: bold;
}
 .top2{
  display: flex;
  background-color: #e5d8fa94;
/* max-width: 1920px;*/
  height: 725px;
  justify-content: center;
 }

.top__wrapper{
  display: flex;
  justify-content: space-between;

}
.section_2_item_1_img{
  position: relative;
}
.top1__img {
  position: absolute;
  width: 110px;
  top: 75%;
  left: 70%;
  /* margin-left: 900px; */
  /* margin-top: 4px; */
}

.top1__img-wrapper{
  /* padding-bottom: 400px; */
  margin-top: 100px;
}
.section_3_item-1-wrapper{
  position: relative;
}
.top7__img {
  width: 86px;
  /* height: 92px;
  margin-left: 1038px; */
  /* display: block; */
  /* margin-top: -76px */
  position: absolute;
  left: 65%;

}
.section_3_item_1{
  display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 48px;
    align-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 420px;
}

.box4 {
  display: flex;
  border-radius: 120px;
  margin-top: 55px;
  margin-left: 30px;
  padding: 45px;
  background: #d7c5f5;
  align-items: center;
  justify-content: center;
}
.box4.text{
  font-size: 26px;
  text-align: center;
}
.top2__img-wrapper{
  max-width: 472px;
}
.top4__img, .top5__img, .top6__img {
  margin-top: 95px; 
  max-width: 24.58vw;
  /* max-width: 472px; */
}
.top5{
  margin-top: 350px;
}
.section_4_item_1{
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 48px;
  align-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 220px;
  
}

.top8__img {
  display:flex;
}
.top8__img {
  display: block;
     margin-left: 52px; 
    /* margin-top: 100px; */
    width: 547px;
}
.container6 {
  display: flex;
  justify-content: space-between;
  /* align-content: center; */
  align-items: center;
  
}
.box5 {
  display: flex;
  background: #FDD782;
  border-radius: 64px;
  padding: 37px;
  /* margin-top: 250px; */
  /* height: 314px; */
  /* width: 759px; */
  margin-left: 30px;
  margin-right: 0px;
}
.box5_par{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.box5_text{
  font-size: 20px;
  font-weight: 500;
}
.top9__img {
  width: 96px;
    height: 117px;
    margin-left: 577px;
}
.top9__img {
  display: block;
  margin-top: -88px
}
.section_5_item_1{
  text-align: center;

  font-size: 48px;
}
.box6 {
  background-color: #99EEA1;
  text-align: center;
    display: flex;
  border-radius: 50%;
  padding: 0px 25px;
  
   align-items: center;
   max-width: 350px;
   height: 180px

}

.box7 {
  margin-top: 100px ;
  background-color: #FDD782;
  display: flex;
  border-radius: 50%; 
  padding: 0px 30px;
  /* padding-bottom: 50px; */
  max-width: 350px;
  height: 175px;
  align-items: center;
  text-align: center;
}
.firstboth{
  display: flex;
  /* max-width: 1200px; */
  margin: 0 auto;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 50px;
}

.box8 {
  background-color: #FFBDBD;
  display: flex;
  border-radius: 50%;
  padding: 0 35px;
  max-width: 350px;
  height: 230px;
  text-align: center;
  align-items: center;
  /* margin-bottom: 25px; */
  margin-top: -125px;
}

.box9 {
  background-color: #91A9E7;
  display: flex;
  border-radius: 50%;
  padding: 0 40px;
  margin-top: 50px;
  max-width: 350px;
  height: 200px;
  text-align: center;
  align-items: center;
}
.secondboth{
  display: flex;
  /* align-items: center; */
  justify-content: center;

  margin: 0 auto;
  /* margin-top: 25px; */
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}
.box10 {
  background-color: #F3D0FF;
  display: flex;
  margin-top: 20px;
  border-radius: 50px;
align-items: center;
padding: 0 25px;
  max-width: 500px;
  height: 150px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.box10-wrapper{
  display: flex;
  /* align-items: center; */
  justify-content: center;


}
.footer__inner{
  padding-top: 200px;
  margin-top: 0px;
background: linear-gradient(rgba(243, 246, 255, 0.205), rgba(47, 82, 179, 0.589));
}
.footer__menu{
  /* margin-top: 100px; */
display: flex;
justify-content:center ;
gap: 300px;
/* align-items: center; */

}
.logo__footer-img{
width: 200px;
transition: 0.5s;
}
.logo__footer-img:hover{
transform:scale(1.5) ;
}

.logo__footer{
  /* margin-right: -75px; */
  margin-top: 100px;
  /* display: flex;
text-align: center;
align-items: end; */
/* display: inline-block; */
/* overflow: hidden; */
}

.footer__text{
text-align: center;
/* padding-right: 50px; */
font-size: 12px;
padding-bottom: 20px;
margin-right: 30px;
}
.footer__menu-link:hover{
color: azure  ;
transition: 0.2s;
}
.footer__menu-title{
font-weight: 700;
font-size: 20px;
}
.width-wrapper__footer{
  max-width: 1280px;
  margin: 0 auto;
  }
  /* .course-plan__list-text{
  font-size: 1.04vw;
  } */
  .tg_link{
    width: 125px;
    transition: 0.25s;
  }
  .tg_link:hover{
    transform: scale(1.1);
  
  }
  