
.content {
    background: linear-gradient(#F0F4FF,rgba(240, 244, 255, 0.322));
    padding: 20px;
    border-radius: 50px;
    margin: 0 auto;
}

.title {
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
}
.container{
    background: linear-gradient(#F0F4FF,rgba(240, 244, 255, 0.322));
  }
  .Allwrapper{
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    /* margin-right: 10%; */
  }
.question {
    margin-bottom: 20px;
}
.forList{
  margin-bottom: 10px;
}
.options {
    list-style-type: none;
}

.optionLabel {
    display: block;
    margin-bottom: 10px;
    color: #000000;
    
}

.button {
    background-color: #2e5322;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.step-buttons-container{
    display: flex;
    justify-content: center;
    /* margin-bottom: 1px; */
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .step-button {
    padding: 20px 63px;
    font-size: 18px;
    background-color: #62eeb4;
    color: white;
    border: none;
    border-radius: 107px;
    /* margin: 54px; */
    margin-top: 0px;
  }
  .step-button:hover {
    background-color: #35ddb37e;
  }
  
  .wrong {
   background-color:  rgba(255, 135, 135, 0.541); /* Красный цвет текста для неправильных ответов */
  }
  .buttonGroup {
    margin-top: 25px; /* добавляем отступ между кнопками */
  }
  
  .button {
    margin-right: 10px; /* добавляем отступ между кнопками */
    padding: 10px 20px; /* задаем отступы внутри кнопки */
    font-size: 16px; /* размер шрифта */
    border: none; /* убираем границу */
    border-radius: 5px; /* закругляем углы */
    background-color: #4CAF50; /* цвет фона */
    color: white; /* цвет текста */
    cursor: pointer; /* указатель при наведении */
    transition: background-color 0.3s; /* анимация перехода */
  }
  
  .button:hover {
    background-color: #45a049; /* изменение цвета фона при наведении */
  }
  .codeInput {
    width: 100%;
    height: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}
.compileButton {
  background-color: #3d8030;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
